
<h1 class="task-status-title text-white bg-{{color}}-transp">
    {{status}}
</h1>
<ul class="task-status-list">
    <li class="status-list-item">
        <h2 class="task-title text-gray-400">
            Task de teste 1
        </h2>
        <span class="tag bg-red-transp text-white">
           P3     
        </span>
    </li>
    <li class="status-list-item">
        <h2 class="task-title text-gray-400">
            Task de teste 2
        </h2>
        <span class="tag bg-red-transp text-white">
            P3     
         </span>
    </li>
    <li class="status-list-item">
        <h2 class="task-title text-gray-400">
            Task de teste 3
        </h2>
        <span class="tag bg-red-transp text-white">
            P3     
         </span>
    </li>
</ul>
