<div class="background-bar" ng-controller="Controller">
        <app-button 
        status="kanban" 
        text="Kanban"
        set-view="setView('kanban')"
        ng-click="changeView('kanban')">
        </app-button>
        
        <app-button 
        status="list" 
        text="List"
        set-view="setView('list')"
        ng-click="changeView('list')">
        </app-button>
</div>
<main class="main-view">
    <div class="main-view-bar">
      <div class="main-view-pages">
        <a href="#!/tasks?view=kanban" class="selected-link app-link title-md">
            Tarefas
           </a>
           <a href="#!/progression" class="app-link title-md text-gray-300">
            Progressão
           </a>
      </div>
    </div>
    <div ng-if="kanbanView" class="board-background bg-light">
      <task-kanban class="task-kanban"
      tasks="tasks.NaoIniciado" 
      color="gray" 
      status="Não iniciado">
      </task-kanban>

      <task-kanban class="task-kanban" 
      tasks="tasks.EmProcesso"
      color="blue" 
      status="Em processo">
      </task-kanban>

      <task-kanban class="task-kanban"
      tasks="tasks.Finalizado"
      color="green" 
      status="Finalizado">
      </task-kanban>

      <task-kanban class="task-kanban" 
      tasks="tasks.Pausado"
      color="yellow" 
      status="Pausado">
      </task-kanban>
    </div>
    <div ng-if="listView" class="board-background bg-light">
        <task-list class="table-container"></task-list>
  </div> 
</main>