<header>
    <p class="header-logo">
        MEU <strong>TODO</strong>
    </p>
    <nav class="navbar-menu">
        <a class="navbar-menu-a" href="https://www.google.com" target="_blank">
            Dark Mode
            <div class="app-svg" ng-include="'/assets/icons/svg/moon.svg'"></div>
        </a>
        <a class="navbar-menu-a" href="">
            Ver Perfil
            <div class="app-svg" ng-include="'/assets/icons/svg/user.svg'"></div>
        </a>
        <a class="navbar-menu-a" href="">
            Sair
            <div class="app-svg" ng-include="'/assets/icons/svg/logout.svg'">
            </div>
        </a>
        <div class="navbar-perfil-thumb">
            <p>David</p>
            <img class="navbar-perfil-thumb-img" src="/assets/icons/svg/user.svg" width="20" height="20" alt="user-logo" loading="lazy">
        </div>
    </nav>
</header>