<header>
    <p class="header-logo">
        MEU <strong>TODO</strong>
    </p>
    <nav class="navbar-menu">
        <a class="navbar-menu-a" href="https://www.google.com" target="_blank">
            Dark Mode
            <img src="/assets/icons/svg/moon.svg" width="18"
            height="18" alt="theme-mode-icon" />
        </a>
        <a class="navbar-menu-a" href="">
            Ver Perfil
            <img src="/assets/icons/svg/user.svg" width="18"
            height="18" alt="perfil-icon" />
        </a>
        <a class="navbar-menu-a" href="">
            Sair
            <img src="/assets/icons/svg/logout.svg" width="18"
            height="18" alt="logout-icon" />
        </a>
        <div class="navbar-perfil-thumb">
            <p>David</p>
            <img class="navbar-perfil-thumb-img" src="/assets/icons/svg/user.svg" width="20" height="20" alt="user-logo" loading="lazy">
        </div>
    </nav>
</header>